.main{
    display: flex;
    gap: 30px;
    /* flex-direction: column; */
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    background-color: cadetblue;
    color: white;
}